<form id='editForm' method="POST" enctype="multipart/form-data">
    <label>First Name: <input name='firstName' type="text" /></label>
    <label>Last Name: <input name='lastName' type="text" /></label>
    <label>New Password: <input name='newPassword' type="password" /></label>
    <label>New profile picture:</label>
    <input type="file" name="file">
    <button type="submit">Submit</button>
</form>
