<form id='editForm'  method="POST">
    <label>Enter current Email: <input name='currEmail' type="email"/></label>
    <label>New Name: <input name='newName' type="text"/></label>
    <label>new Email: <input name='newEmail' type="email"/></label>
    <label>New Password: <input name='newPassword' type="password"/></label>
    <input type="submit" value="Update"/>
</form>