<form id='editForm'  method="POST">
    <label>New Name: <input name='newName' type="text"/></label>
    
    <label>New Password: <input name='newPassword' type="password"/></label>
    <input type="submit" value="Update"/>
</form>
