<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Game ON</title>
        <link rel="stylesheet" href='../../public/css/style.css'>
        {{!-- <link rel="icon" href="4.jpg"> --}}
    </head>
    <body>
        <article class='header'>
            <h1>Welcome to Game ON!</h1>
            <p>The best place to see reviews on popular games by other gamers like you</p>
        </article>
        <main>
            {{{body}}}
        </main>
    </body>
</html>