<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Game ON</title>
        <link rel="stylesheet" href='../../public/css/style.css'>
        <link rel="icon" href="../../images/4.jpg">
    </head>
    <body>
        <article class='header'>
            <h1>Welcome to Game ON!</h1>
            <p>The best place to see reviews on popular games by other gamers like you</p>
        </article>
        <main>
            {{{body}}}
        </main>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
        <script src="/public/js/userEdit.js"></script>
        <script src="/public/js/submitReview.js"></script>
        <script src="/public/js/navActive.js"></script>
        <script>
                let updatePostStats = {
                    upvote: function (postID){
                        let curr = $('#likes-count-'+postID).text();
                        curr = parseInt(curr)+1;
                        $('#likes-count-'+postID).text(curr.toString());
                    },
                    downvote: function (postID){
                        let curr = $('#dislikes-count-'+postID).text();
                        curr = parseInt(curr)+1;
                        $('#dislikes-count-'+postID).text(curr.toString());
                    }
                };

            let actOnPost = function (event) {
                let postID = event.target.dataset.postId;
                let action = event.target.className;
                alert(action);
                updatePostStats[action](postID);
                $.post(window.location.pathname+'/'+action,{rid:postID}, function (res){
                    console.log('Did it work?' + res.success);
                });
            }
        </script>
    </body>
</html>