<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Game ON</title>
        <link rel="stylesheet" href='../../public/css/style.css'>
        <link rel="icon" href="../../images/4.jpg">
    </head>
    <body>
        <article class='header'>
            <h1>Welcome to Game ON!</h1>
            <p>The best place to see reviews on popular games by other gamers like you</p>
        </article>
        <main>
            {{{body}}}
        </main>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
        <script src="/public/js/userEdit.js"></script>
    </body>
</html>