<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Game ON</title>
        <link rel="stylesheet" href={{metaTags.css}}>
        <link rel="icon" href="4.jpg">
    </head>
    <body>
        <main>
            {{{body}}}
        </main>
    <script src="/public/js/supermariogalaxy2script.js"></script>
    </body>
</html>