body{
	background-color: #616163;
	padding-left: 2%;
	padding-right: 2%;
}
main{
	background-color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: relative;
}

.navsearch{
	float: right;
	color: white;
	margin-top: 30px;
	font-size: 18pt;
	margin-right: 5px;
}
  
li {
	float: left;
}
  
li a {
	display: block;
	color: whitesmoke;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18pt;
	margin-top: 20px;
	margin-bottom: 20px;
}
  
li a:hover {
	background-color: #9FC490;
	color: #0F0F0F;
}

.header{
	width: 100%;
	text-align: center;
	display: block;
	color: #44FFD2;
	padding: 1%;
}

.header h1{
	color: #44FFD2;
}

a{
	text-decoration: none;
	color: #0F0F0F;
}

article{
	display: flex;
	width: 100%;
	justify-content: center;
}

h2,h3{
	text-align: center;
	color: #0F0F0F;
}

h1{
	text-align: center;
	color: #0F0F0F;
	font-size: 50px;
}

#hReview{
	color: maroon;
	text-align: center;
	font-weight: 100;
}

.highestRated{
	font-size: larger;
	font-style: italic;
	background-color:bisque;
}

h4{
	text-align: center;
	font-style: normal;
	color:brown;
}

.gameLink{
	color:navy;
}
.gameLink:hover{
	color:purple;
	font-style: oblique;
}


.col-quarter h3{
	color: black;
	text-align: left;
}

div > a{
	color: black;
}

div > a:visited{
	color: black;
}

@media (min-width: 992px){
    .myRow{
        display: flex;
        flex-direction: row;
        justify-content: center;
		padding-right: 2%;
		padding-left: 2%;
		padding-bottom: 2%;
    }
}

.active {
	background-color: #9FC490;
	color: #0F0F0F;
}

.game{
	border: 2px solid gray;
}

.myRow{
    padding-right: 2%;
	padding-left: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.container {
	position: relative;
	width: 50%;
}

.container:hover .overlay {
	opacity: .6;
}

.navpic{
	width: 94px;
	height: 94px;
	margin-right: 5px;
}

nav{
	padding: 0;
	margin-bottom: -4px;
}

.new-review-form{
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#rating{
	border: groove;
}

#review{
	border: groove;
}

button{
	border: none;
	border-radius: 12px;
	background-color: #0F0F0F;
	color: whitesmoke;
	cursor: pointer;
}

.new-review-submit{
	font-size: 16px;
}

.new-review-submit:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

label{
	font-weight: bold;
	font-size: 14pt;
}

.login-button{
	font-size: 18pt;
}

.signup{
	text-align: center;
	font-size: 18pt;
}

.loginform{
	text-align: center;
}

.allGames{
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
}

.allGames img{
	height: 250px;
}

.allGames h2{
	margin: 10pt;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color:lightgray;
}

.rid{
	visibility: hidden;
}

.text {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.searchbar{
	text-align: center;
	padding-top: 2%;
}

.searchbar label{
	color: #0F0F0F;
	font-size: 20px;
	font-weight: bold;
}

.searchbar form{
	display: inline;

}

.searchbar button{
	font-size: 14pt;
	border-radius: 0;
}

.navsearch button{
	font-size: 14pt;
	border-radius: 0;
	border-style: solid;
	border-color: #0F0F0F;
}

*{
	box-sizing: border-box;
}

.image {
    display: flex;
    margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: 500px;
	padding-right: 2%;
}

.gallery{
	padding: 0;
}

.gallery img{
	display: block;
	padding: 2%;
}

.row{
	border-bottom: solid;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

.reviewRow:after{
	content: "";
	display: table;
	clear: both;
}

.reviewImage{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
	width: 400px;
}

.reviews{
	text-align: center;
}

.reviews p{
	font-size: 14pt;
	padding-bottom: 2%;
}

.col-half{
	float: left;
	width: 50%;
	padding: 10px;
}

.col-quarter {
	float: left;
	width: 25%;
	padding: 20px;
	border-right: solid;
}

.profile h2{
	text-align: left;
	margin-left: 2%;
}

.profile button{
	margin-left: 2%;
}

.profile img{
    height: 250px;
	width: auto;
	margin: 2%;
}

.upvote img{
	height: 25px;
	width: 25px;
}

.downvote img{
	height: 25px;
	width: 25px;
}
