<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/games">Games</a></li>
		{{#if loggedin}}
			<li><a href='/user'>{{currentUser}}</a></li>
			{{else}}
			<li><a href="/login">Sign In</a></li>
		{{/if}}
    </ul>
</nav>
<section>
    {{#each game}}
        <img src="{{gameIcon}}" class="image"/>
        <h2>{{nameOfGame}}</h2>
    {{/each}}
</section>