{{> navbar}}

<section class='allGames'>
    {{#each game}}
        <h2> <img src="{{gameIcon}}" class="image" alt="{{nameOfGame}}"/> <a href="/games/{{loud nameOfGame}}">{{nameOfGame}}</a></h2>
    {{/each}}
</section>
