{{> navbar}}

<section class='allGames'>
    {{#each game}}
        <div class='container'>
            <a href="/games/{{loud nameOfGame}}">
                <img src="{{gameIcon}}" class="image" alt="{{nameOfGame}}"/>
                <div class="overlay">
                    <div class="text">{{nameOfGame}}</div>
                </div>
            </a>
        </div>
    {{/each}}
</section>
