<div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="index.html">About Us</a></li>
            <li><a href="/supermariogalaxy2">Games</a></li>
            <li><a href="index.html">Home</a></li>
            {{#if loggedin}}
            <li><a href="/logout">Sign Out</a></li>
            {{else}}
            <li><a href="/login">Sign In</a></li>
            {{/if}}
        </ul>
    </nav>
    <article>
        {{#if loggedin}}
        You are logged in as {{currentUser}}
        {{/if}}
        <h1>Welcome to Game ON!</h1>
        <p>The best place to see reviews on popular games by other gamers like you</p>
    </article>
    <h1>Featured Games</h1>
    <div class="myRow">
        <div class="container">
            <a href="/games/portal2">
                <img class="image" src="220px-Portal2cover.jpg" />
                <div class="overlay">
                    <div class="text">Portal 2</div>
                </div>
            </a>
        </div>
        <div class="container">
            <img class="image" src="73763642-360x360.jpg" />
            <a href="/supermariogalaxy2">
                <div class="overlay">
                    <div class="text">Super Mario Galaxy 2</div>
                </div>
            </a>
        </div>
        <div class="container">
            <a href="/games/halo2">
                <img class="image" src="220px-Halo2-cover.png" />
                <div class="overlay">
                    <div class="text">Halo 2</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div>
    <h3>Newest Games Added</h3>
    <div class="myRow">
        <article class="game">
            <img class="image" src="DOOM_Eternal_packart.jpg" />
            <p>Eight months after the events of 2016's Doom, Earth has been overrun by demonic forces, wiping out 60% of
                the planet's population, under the now-corrupted Union Aerospace Corporation. What remains of humanity
                has either fled Earth or have banded together as part of ARC, a resistance movement formed to stop the
                invasion but have gone into hiding after suffering heavy losses. The Doom Slayer, having previously been
                betrayed and teleported away by Dr. Samuel Hayden, returns with a satellite fortress controlled by the
                AI VEGA to quell the demonic invasion by killing the Hell Priests; Deags Nilox, Ranak, and Grav. The
                priests serve an angelic being known as the Khan Maykr who seeks to sacrifice mankind.</p>
        </article>
        <article class="game">
            <img class="image" src="ACNH.png" />
            <p>New Horizons sees the player assuming the role of a customizable character who moves to a deserted island
                after purchasing a deserted island package from Tom Nook, a tanuki character who has appeared in every
                entry in the Animal Crossing series. Taking place in real-time, the player can explore the island in a
                nonlinear fashion, gathering and crafting items, catching insects and fish, and developing the island
                into a community of anthropomorphic animals.</p>
        </article>
        <article class="game">
            <img class="image" src="220px-Nioh_2_cover_art.jpg" />
            <p>Set in the late 1500s, most of Nioh 2 storyline chapters are prequel to Nioh, while the end chapters of
                the story take place after the first game’s last storyline after the Battle at Osaka. Players take the
                role of a character nicknamed Hide (秀, Hide), a half-yōkai referred to as a "Shiftling" whose journey
                through the Sengoku Era begins when they befriend Kinoshita Tōkichirō, a merchant seeking to make his
                mark in history by selling Amrita, and Mumyo, a demon hunter of the Sohaya group. At the same time, the
                party is also accosted by Kashin Koji (果心 居士), a mysterious entity involved in Hide's past who obstructs
                them at every opportunity.</p>
        </article>
    </div>
</div>