<div>
    <nav>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/games">Games</a></li>
		{{#if loggedin}}
			<li><a href='/user/{{currentUser.id}}'>{{currentUser}}</a></li>
            <li><a href="/logout">Log Out</a></li>
			{{else}}
			<li><a href="/login">Sign In</a></li>
		{{/if}}
        </ul>
    </nav>
    <h1>Featured Games</h1>
    <div class="myRow">
        <div class="container">
            <a href="/games/The Legend of Zelda Breath of the Wild">
                <img class="image" src="TheLegendofZeldaBreathoftheWild.jpg" alt="The Legend of Zelda Breath of the Wild"/>
                <div class="overlay">
                    <div class="text">The Legend of Zelda Breath of the Wild</div>
                </div>
            </a>
        </div>
        <div class="container">
            <a href="/games/Halo 5">
            <img class="image" src="Halo5.jpg" alt="Halo 5"/>
                <div class="overlay">
                    <div class="text">Halo 5</div>
                </div>
            </a>
        </div>
        <div class="container">
            <a href="/games/Dark Souls 3">
                <img class="image" src="DarkSouls3.jpg" alt="Dark Souls 3"/>
                <div class="overlay">
                    <div class="text">Dark Souls 3</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div>
    <h2>Newest Games Added</h2>
    <div class="gallery">
        <div class="row">
            <div class="col-half">
                <img class="image" src="DOOM_Eternal_packart.jpg" alt="Doom"/>
            </div>
            <div class="col-half">
                <p>Eight months after the events of 2016's Doom, Earth has been overrun by demonic forces, wiping out 60% of the planet's population, under the now-corrupted Union Aerospace Corporation. What remains of humanity has either fled Earth or have banded together as part of ARC, a resistance movement formed to stop the invasion but have gone into hiding after suffering heavy losses. The Doom Slayer, having previously been betrayed and teleported away by Dr. Samuel Hayden, returns with a satellite fortress controlled by the AI VEGA to quell the demonic invasion by killing the Hell Priests; Deags Nilox, Ranak, and Grav. The priests serve an angelic being known as the Khan Maykr who seeks to sacrifice mankind.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-half">
                <img class="image" src="ACNH.png" alt="Animal Crossing"/>
            </div>
            <div class="col-half">
                <p>New Horizons sees the player assuming the role of a customizable character who moves to a deserted island after purchasing a deserted island package from Tom Nook, a tanuki character who has appeared in every entry in the Animal Crossing series. Taking place in real-time, the player can explore the island in a nonlinear fashion, gathering and crafting items, catching insects and fish, and developing the island into a community of anthropomorphic animals.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-half">
                <img class="image" src="Nioh2.jpg" alt="Nioh 2"/>
            </div>
            <div class="col-half">
                <p>Set in the late 1500s, most of Nioh 2 storyline chapters are prequel to Nioh, while the end chapters of the story take place after the first game’s last storyline after the Battle at Osaka. Players take the role of a character nicknamed Hide (秀, Hide), a half-yōkai referred to as a "Shiftling" whose journey through the Sengoku Era begins when they befriend Kinoshita Tōkichirō, a merchant seeking to make his mark in history by selling Amrita, and Mumyo, a demon hunter of the Sohaya group. At the same time, the party is also accosted by Kashin Koji (果心 居士), a mysterious entity involved in Hide's past who obstructs them at every opportunity.</p>
            </div>
        </div>
    </div>
</div>
