<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/games">Games</a></li>
        <li><a class="active" href="/login">Sign In</a></li>
    </ul>
</nav>
<h1>Success, your account has been created! Log in to start reviewing!</h1>