<div class="topwrapper">
	<div class="middlewrapper">
		<div class="header">
			<img id="logotop" src="4.jpg" alt="Logo" class="logo" width="100" height="100">
			<div class="topnav" id="myTopnav">
				<img id="logosame" src="4.jpg" alt="Logo" class="logo" width="90" height="90">
				<a href="/">Home</a>
				<div class="dropdown">
					<button class="dropbtn">About Us
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="owner.html">Owners</a>
						<a href="partners.html">Partners</a>
					</div>
				</div>
				<a href="services.html"> Games </a>
				<a href="contact.html"> Contact </a>
				<a id="sign-in" href="index.html">Sign In</a>
				<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
			</div>
		</div>
	</div>
</div>
<div id="wrapper">
	{{#if loggedin}}
	You are logged in as {{currentUser}}
	<a href="/logout" id="logoutlink"> logout </a>
	<style>#logoutlink {color:#374353}</style>
	{{/if}}
	<div class="slideshow-all">
		<div class="slideshow-container">
			<div class="imgbox">
				<img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/super-mario-galaxy-2-eloisa-mannion.jpg"
					class="slide-image">
			</div>
		</div>
	</div>
	<div class="content">
		<h1>Reviews for Super Mario Galaxy 2</h1>
		<div class="sub-content1">
			<p class="quote">
				Five stars
				<br>
				"Good game as always!!" -Patrick Hill
			</p>
			<hr>
			<p class="quote">
				Five stars
				<br>
				"The Super Mario Galaxy series rules!" -Brian Borowski
			</p>
			<hr>
			<p class="quote">
				Five stars
				<br>
				"Awesome gameplay!" -Eduardo Bonelli
			</p>
			<hr>
			<p class="quote">
				Five stars
				<br>
				"Another fine addition to the Super Mario series!" -Iraklis Tsekourakis
			</p>
		</div>
	</div>
</div>